@import "../../../styles.scss";
.header-section {
  left: 0;
  right: 0;
  top: 0;
  color: white;
  transition: 0.3s ease;
  z-index: 100000;
}
.active-header {
  background-color: white;
  color: var(--secondary-color);
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.205);
}
.active-header .active-hamburger .top-bar {
  transform: translateY(12px);
}
.active-header .active-hamburger .bottom-bar {
  transform: translateY(-12px);
}
.logo-part {
  transition: 0.3s ease;
}
.active-header .logo-part {
  padding-block: 15px !important;
}
svg {
  transition: 0.3s ease;
}
.active-header svg {
  scale: 0.9;
}
.active-header svg path {
  fill: var(--primary-color);
}
.router-active {
  color: $primary-color;
  font-weight: bold;
}
.router-active::after {
  content: "";
  height: 2px;
  display: block !important;
  width: 100%;
  border-radius: 10px;
  background-color: $primary-color;
  transform: translateY(5px);
}
nav {
  & ul {
    margin: 0;
    padding: 0;
    & li {
      list-style: none;
      margin: 0 !important;
      padding: 0 !important;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
.white-borders {
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  & p {
    font-size: 12px;
  }
}

.hamburger-menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px !important;
  width: 25px;
  display: none;
  cursor: pointer;
}
.hamburger-menu .hambar {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: white;
  transition: 0.3s ease-in-out;
  opacity: 1;
}

.active-header .hamburger-menu .hambar {
  background-color: $primary-color;
  height: 3px;
  padding: 0 !important;
}

.active-hamburger .mid-bar {
  opacity: 0 !important;
}
.active-hamburger .top-bar {
  rotate: 45deg;
  transform: translateY(10px);
}
.active-hamburger .bottom-bar {
  rotate: -45deg;
  transform: translateY(-10px);
}
.offcanvas-title svg path {
  fill: var(--primary-color) !important;
}
.offcanvas {
  width: 30%;
}
.responsive-navlist ul li {
  width: 100%;
  padding: 10px 14px !important;
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.router-active-res {
  background-color: $primary-color !important;
  color: white !important;
}
@media screen and (max-width: 1024px) {
  .hamburger-menu {
    display: flex;
  }

  .nav-links {
    display: none !important;
  }

  .options-part {
    padding: 0 !important;
  }
  .options {
    display: none !important;
  }
}

@media screen and (max-width: 576px) {
  .offcanvas {
    width: 60% !important;
  }
  svg {
    width: 60px;
    height: 32px;
  }
}
