<section
  class="hero-section d-flex justify-content-center align-items-center flex-column"
  id="hero-section"
>
  <div
    class="welcome-container mt-5 pt-5 h-75 d-flex justify-content-center align-items-center flex-column"
  >
    <div
      class="firstHeadline d-flex justify-content-center align-items-center mb-3"
    >
      <div class="red-line"></div>
      <h2 class="headline px-4">Egypt Unveiled</h2>
      <div class="red-line"></div>
    </div>
    <div class="secondHealdine text-white">
      <h1>
        Your Personalized Travel Guide<br />
        Always Within Reach.
      </h1>
    </div>
  </div>
  <div class="search-container w-100">
    <app-search-component></app-search-component>
  </div>
</section>
