<section class="searchbar-container">
  <div class="searchbar-headline">
    <h5 class="px-5 mb-2 fs-2">Where To ...?</h5>
  </div>
  <form class="searchbar-form w-100 bg-white border-pill">
    <div
      class="form-wrapper w-100 d-flex align-items-center justify-content-between"
    >
      <div
        class="searchbar-inputs position-relative d-flex align-items-center justify-content-between w-50 gap-5"
      >
        <div
          class="search-bar-wrapper input-wrapper w-50 p-2 d-flex position-relative align-items-center justify-content-start text-muted gap-3"
        >
          <div class="grouped-buttons btn-group position-absolute">
            <button
              (click)="activeIndex = 0"
              type="button"
              [ngClass]="{ 'active-index': activeIndex == 0 }"
              class="search-action-btn btn d-flex align-items-center justify-content-center gap-2"
            >
              <i class="fa-solid fa-house"></i>
              <div class="text-container">
                <p class="m-0 p-0">home location</p>
              </div>
            </button>
            <button
              (click)="activeIndex = 1"
              type="button"
              [ngClass]="{ 'active-index': activeIndex == 1 }"
              class="search-action-btn btn d-flex align-items-center justify-content-center gap-2"
            >
              <i class="fa-solid fa-location-dot"></i>
              <div class="text-container">
                <p class="m-0 p-0">current location</p>
              </div>
            </button>
          </div>
          <div
            class="searchbar-input-container border-pill w-100 p-2 px-3 d-flex align-items-center justify-content-start text-muted gap-3"
          >
            <i class="fa-solid fa-location-dot"></i>
            <input
              type="text"
              class="form-control"
              placeholder="Current Location"
            />
          </div>
        </div>
        <div class="dashed-line"></div>
        <div
          class="searchbar-input-container input-wrapper border-pill w-50 p-2 px-3 d-flex align-items-center justify-content-start text-muted gap-3"
        >
          <i class="fa-solid fa-location-crosshairs"></i>
          <input type="text" class="form-control" placeholder="Destination" />
        </div>
      </div>
      <div
        class="ticket-type-action d-flex align-items-center justify-content-between w-50"
      >
        <div
          class="tickets d-flex align-items-center justify-content-center gap-3 w-100 px-4"
        >
          @for(item of ticketTypes ;track item ; let i = $index){
          <div
            (click)="activeTicket = i"
            [ngClass]="{ activeTicket: activeTicket === i }"
            class="ticket-type d-flex align-items-center justify-content-center flex-column gap-1"
          >
            @if(item.id != 1){
            <i [class]="item.icon"></i>
            <div [ngClass]="{ all: item.id === 1 }">{{ item.name }}</div>
            }@else{
            <div class="all">{{ item.name }}</div>
            }
          </div>
          }
        </div>
        <div class="btn-container">
          <button class="btn btn-primary border-pill explore-btn px-5">
            Explore
          </button>
        </div>
      </div>
    </div>
  </form>
</section>
