@import "../../../../../styles.scss";

.searchbar-container {
  width: 85%;
  margin: auto;
  transform: translateY(-10px);
  min-width: fit-content !important;
}
.searchbar-headline h5 {
  color: white !important;
}
.searchbar-form {
  padding: 30px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
.explore-btn {
  border-radius: 30px;
}
.form-control {
  box-shadow: none !important;
  border: none !important;
}
.border-pill {
  border-radius: 100px !important;
}
.searchbar-input-container {
  color: rgba(128, 128, 128, 0.7) !important;
  border: 1px solid $primary-color;
  background-color: white;
  position: relative;
  padding-block: 14px !important;
  z-index: 1;
  & input {
    color: rgba(128, 128, 128, 0.766);
  }
  & input::placeholder {
    color: rgba(128, 128, 128, 0.5) !important;
  }
}
.explore-btn {
  padding-block: 14px;
}
.dashed-line {
  position: absolute;
  border: 2px dashed $primary-color;
  width: 55px;
  z-index: 0;
  top: 50%;
  right: 50% !important;
  transform: translateY(-50%) translateX(50%);
}

.grouped-buttons {
  top: -15px;
  left: 30px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}
.grouped-buttons button {
  font-size: 12px !important;
  padding: 3px;
  padding-inline: 7px;
  width: fit-content !important;
  color: grey;
  transition: 0.2s ease;
}

.active-index {
  background-color: $primary-color;
  color: white !important;
}
.search-action-btn i {
  transform: translateX(4px);
  transition: 0.2s ease;
}
.text-container {
  width: 0px;
  overflow: hidden;
  transition: 0.2s ease;
  & p {
    // display: none;
    width: 100px !important;
  }
}

.search-action-btn:hover .text-container {
  width: 100px;
}
.search-action-btn:hover i {
  transform: translateX(0px);
}
.ticket-type {
  font-size: 10px;
  font-weight: bold;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: $primary-color;
  border: 1px solid $primary-color;
  transition: 0.3s ease;
  cursor: pointer;
  & i {
    font-size: 14px;
  }
}

.all {
  text-transform: capitalize;
  font-size: 12px;
}

.activeTicket {
  color: white;
  background-color: $primary-color;
}

@media screen and (max-width: 1200px) {
  .form-wrapper {
    flex-direction: column;
    padding-inline: 15px;
    padding-block: 20px;
    gap: 25px;
    border-radius: 20px !important;
  }
  .searchbar-form {
    border-radius: 20px !important;
  }
  .grouped-buttons {
    top: -21px;
  }
  .searchbar-inputs {
    width: 100% !important;
  }
  .ticket-type-action {
    width: 100% !important;
  }
  .tickets {
    width: fit-content !important;
    padding: 0 !important;
  }
  .search-bar-wrapper {
    padding: 0 !important;
  }
}
@media screen and (max-width: 1250px) {
  .tickets {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  .form-wrapper {
    flex-direction: column;
    padding-inline: 15px;
    padding-block: 20px;
    gap: 25px;
    border-radius: 20px !important;
  }
  .searchbar-form {
    border-radius: 20px !important;
  }
  .grouped-buttons {
    top: -21px;
  }
  .searchbar-inputs {
    width: 100% !important;
  }

  .ticket-type-action {
    width: 100% !important;
    display: flex !important;
    // flex-direction: column !important;
    gap: 15px;
  }
  .btn-container {
    width: 100%;
    .btn {
      width: 100%;
    }
  }
  .tickets {
    width: fit-content !important;
    padding: 0 !important;
  }
  .search-bar-wrapper {
    padding: 0 !important;
  }
  .form-control {
    font-size: 18px !important;
  }
  .form-control::placeholder {
    font-size: 16px;
  }
}
@media screen and (min-width: 761px) and (max-width: 991px) {
  .searchbar-container {
    width: 100% !important;
    margin: 0 !important;
    min-width: 100% !important;
  }
  .form-wrapper {
    flex-direction: column;
    padding-inline: 15px;
    padding-block: 20px;
    gap: 25px;
    border-radius: 20px !important;
  }
  .searchbar-form {
    border-radius: 20px !important;
  }
  .grouped-buttons {
    top: -21px;
  }
  .searchbar-inputs {
    width: 100% !important;
  }

  .ticket-type-action {
    width: 100% !important;
    display: flex !important;
    // flex-direction: column !important;
    gap: 15px;
  }
  .btn-container {
    width: 100%;
    .btn {
      width: 100%;
    }
  }
  .tickets {
    width: fit-content !important;
    padding: 0 !important;
  }
  .search-bar-wrapper {
    padding: 0 !important;
  }
  .form-control {
    font-size: 16px !important;
  }
  .form-control::placeholder {
    font-size: 14px;
  }
}
@media screen and (min-width: 576px) and (max-width: 761px) {
  .searchbar-container {
    width: 100% !important;
    margin: 0 !important;
    min-width: 100% !important;
  }
  .form-wrapper {
    flex-direction: column;
    padding-inline: 15px;
    padding-block: 20px;
    gap: 25px;
    border-radius: 20px !important;
  }
  .searchbar-form {
    border-radius: 20px !important;
  }
  .grouped-buttons {
    top: -21px;
  }
  .searchbar-inputs {
    width: 100% !important;
  }

  .ticket-type-action {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 15px;
  }
  .btn-container {
    width: 100%;
    .btn {
      width: 100%;
    }
  }
  .tickets {
    width: fit-content !important;
    padding: 0 !important;
  }
  .search-bar-wrapper {
    padding: 0 !important;
  }
  .form-control {
    font-size: 14px !important;
  }
  .form-control::placeholder {
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  .searchbar-container {
    width: 100% !important;
    margin: 0 !important;
    min-width: 100% !important;
  }
  .searchbar-headline h5 {
    font-size: 16px !important;
    padding-left: 0.5rem !important;
  }
  .searchbar-form {
    border-radius: 0px !important;
  }
  .ticket-type {
    height: 47px !important;
  }
  .form-wrapper {
    flex-direction: column;
    padding-inline: 15px;
    padding-block: 20px;
    gap: 30px;
    border-radius: 0px !important;
  }
  .searchbar-form {
    border-radius: 0px !important;
  }
  .grouped-buttons {
    top: -23px;
  }
  .searchbar-inputs {
    width: 100% !important;
    flex-direction: column !important;
    gap: 10px !important;
  }
  .dashed-line {
    display: none;
  }

  .ticket-type-action {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 15px;
  }
  .btn-container {
    width: 100%;
    .btn {
      width: 100%;
    }
  }
  .search-bar-wrapper {
    padding: 0 !important;
  }
  .input-wrapper {
    width: 100% !important;
  }
  .tickets {
    width: 100% !important;
    padding-inline: 12px !important;
  }
}
@media screen and (max-width: 411px) {
  .searchbar-container {
    width: 100% !important;
    margin: 0 !important;
  }
  .searchbar-form {
    border-radius: 0px !important;
    padding: 0 !important;
    padding-block: 25px !important;
    width: 100% !important;
  }
  .searchbar-inputs {
    gap: 10px !important;
  }
  .form-wrapper {
    flex-direction: column;

    gap: 25px;
    border-radius: 0px !important;
  }
  .searchbar-form {
    border-radius: 0px !important;
  }
  .grouped-buttons {
    top: -21px;
  }
  .searchbar-inputs {
    width: 100% !important;
  }

  .ticket-type-action {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 15px;
  }
  .btn-container {
    width: 100%;
    .btn {
      width: 100%;
    }
  }
  .tickets {
    width: 100% !important;
    padding: 0px !important;
    gap: 5px !important;
  }
  .search-bar-wrapper {
    padding: 0 !important;
    width: 100% !important;
  }
  .searchbar-input-container {
    width: 100% !important;
  }
  .form-control {
    font-size: 12px !important;
  }
  .form-control::placeholder {
    font-size: 10px;
  }
}
