<section
  class="footer-section d-flex pt-5 mt-5 align-items-center justify-content-between flex-column w-100"
>
  <div class="footer-heading pb-4">
    <img src="../../../assets/logo.png" alt="" />
  </div>
  <div class="footer-body pb-5 pt-3">
    <div class="footer-about footer-body-alignment">
      <h4>About</h4>
      <p class="p-0 m-0">
        Presenting a cutting-edge web application crafted by the innovation of
        TransIT, Engineered by Moova Configuration Technology, Alma Viva, and
        LTRA.
      </p>
    </div>
    <div class="footer-services px-4 footer-body-alignment">
      <h4>Services</h4>
      <ul class="services-list footer-list">
        <li>
          <div class="line"></div>
          <p class="m-0 p-0">Reservations</p>
        </li>
        <li>
          <div class="line"></div>
          <p class="m-0 p-0">Transportation</p>
        </li>
        <li>
          <div class="line"></div>
          <p class="m-0 p-0">Trip plan</p>
        </li>
      </ul>
    </div>
    <div class="footer-contact footer-body-alignment px-4">
      <h4>Contact</h4>
      <ul class="contact-list footer-list">
        <li>
          <div class="d-flex align-items-center justify-content-center gap-1">
            <div class="line"></div>
            <p class="m-0 p-0">Address</p>
          </div>
          <p class="contact-data p-0 m-0 px-3">2 St el manshya kobry sakara</p>
        </li>
        <li>
          <div class="d-flex align-items-center justify-content-center gap-1">
            <div class="line"></div>
            <p class="m-0 p-0">Phone</p>
          </div>
          <p class="contact-data m-0 p-0 px-3">+903231863482</p>
        </li>
        <li>
          <div class="d-flex align-items-center justify-content-center gap-1">
            <div class="line"></div>
            <p class="m-0 p-0">Email</p>
          </div>
          <p class="contact-data m-0 p-0 px-3">moova.eg&#64;eg.gov.net</p>
        </li>
      </ul>
    </div>
    <div class="footer-applications footer-body-alignment px-4">
      <h4>Application</h4>
      <ul class="contact-list footer-list">
        <li class="d-flex align-items-start flex-column">
          <div class="d-flex align-items-center justify-content-center gap-1">
            <div class="line"></div>
            <p class="m-0 p-0">Applications</p>
          </div>
          <p class="contact-data p-0 m-0 px-3">Ios,Android,Desktop</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom w-100 p-2">
    <p class="m-0 p-0">
      Copyrights reserved for <span class="red-text">Trans IT</span>
    </p>
  </div>
</section>
