.local-delights-wrapper {
  width: 80%;
  margin: auto;
}
.delight-text {
  width: 280px;
  text-align: center;
  color: var(--secondary-color);
  opacity: 0.5;
}

.btn {
  background-color: var(--primary-color);
}
